html, body{
    height: 100%;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: rgba(230,230,230,.6);
}

a{
    cursor: pointer;
}

footer p, footer a{
    color: #999;
    line-height: 2em;
}

footer .fa-envelope,
footer .fa-phone-volume{
    font-size: 1.5em;
}

footer h2, footer h3{
    color: rgba(0,0,0,.5);
    /* letter-spacing: .1em; */
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-top{
    background: #f8f9fa;
}

.titulo-spec{
    color: #888888;
    text-transform: uppercase;
    font-weight: 700;
}

.card hr, .hr-dec{
    border: .1em solid gray;
}

.jumbotron{
    background-image: url("../Img/6946913449_2454334475_k.jpg");
    background-size: cover;
    background-position: 50% 40%;
    min-height: 35em;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    font-size: 1em;
    font-weight: 700;
    color: #61d2b4;
    font-family: "Open Sans", sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 1.7em;
    padding: 0 1em;
}

.docentes img, .colaboradores img,
.doutorado img, .mestrado img,
.ic img{
    max-width: 60%;
}

.fa-facebook-square,
.fa-instagram,
.fa-envelope,
.fa-phone-volume {
    font-size: 3em;
}

.fa-phone-volume:hover{
    cursor: default;
}

.texto{
    font-size: 1.1em;
}

.border-perso{
    border-width: .3em !important;
}

#segment a{
    border-bottom: .1em solid rgba(0,0,0,.5);
    line-height: 3em;
    margin: 0 2.5em;
}

#segment a:hover{
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

#conheca{
    color: #326363;
    font-weight: 700;
}

#botao_conheca{
    background-color: #61d2b4;
}

#reference{
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px
}

#UFJ{
    font-size: .7em;
}

#linhas, #sobre_lab, .back-box,
.docentes, .colaboradores,
.doutorado, .mestrado, .ic{
    background-color: rgba(255,255,255,.8);
    -webkit-box-shadow: 2px 2px 4px 0px #888888;
    -moz-box-shadow: 2px 2px 4px 0px #888888;
    box-shadow: 2px 2px 4px 0px #888888;
    border-radius: .5em;
}


@media (min-width: 992px) and (max-width: 1199px){ /* lg */
    
    .navbar-light .navbar-nav .nav-link{
        font-size: 1.4em;
        padding: 0 .5em;
    }

}

@media (min-width: 768px) and (max-width: 991px){ /* md */

    .titulo{
        font-size: 3rem;
    }

}

@media (min-width: 576px) and (max-width: 767px){ /* sm */

    .titulo{
        font-size: 2.5rem;
    }

    .sm-imagem{
        width: 30%;
    }

    .fa-facebook-square,
    .fa-instagram,
    .fa-envelope,
    .fa-phone-volume {
    font-size: 2em;
}

.texto{
    font-size: 1em;
}
    
}

@media (max-width: 576px){ /* xsm */

    .titulo{
        font-size: 2rem;
    }

    .sm-imagem{
        width: 40%;
    }

    .fa-facebook-square,
    .fa-instagram,
    .fa-envelope,
    .fa-phone-volume {
    font-size: 1.5em;
}

.texto{
    font-size: .8em;
}
    
}


@media (max-width: 350px){

    #lab-sobre{
        font-size: 1.5em;
    }

    .navbar-light .navbar-nav .nav-link{
        font-size: 1em;
        /* padding: 0 .5em; */
    }

}